@import "~photon-colors/photon-colors.scss";

@mixin hover {
  cursor: pointer;
  transition: background 0.25s;
  &:hover {
    background: rgba(white, 0.1);
  }
}

@mixin shadow {
  box-shadow: 0 4px 16px rgba(12, 12, 13, 0.2);
}

body {
  display: flex;
  flex-direction: column;

  background: $ink-80;
  color: white;
}

nav {
  position: sticky;
  top: 0;

  display: flex;
  align-items: center;
  height: 3em;
  padding-left: 0.75em;

  background: $ink-70;
  @include shadow();

  span {
    flex-grow: 1;
  }

  img {
    padding: 0 0.75em;
    align-self: stretch;
  }
}

#openDropdown {
  @include hover();
}

#dropdown {
  position: fixed;
  right: 0;
  top: 3em;
  overflow: hidden;

  background: $ink-70;

  transition: clip-path 0.25s cubic-bezier(0.07, 0.95, 0, 1);
  clip-path: inset(0 0 100% 0);
  &.open {
    clip-path: inset(0 0 0 0);
  }

  div {
    @include hover();
    padding: 0.5em 1em;
  }
}

#entries {
  display: flex;
  flex-direction: column;
}

.no_entries {
  padding: 2em 4em;
  color: rgba(white, 0.5);
}

.entry {
  display: flex;
  align-items: center;
  margin: 0.25em;
  padding: 0.5em;

  background: $ink-70;
  cursor: pointer;

  .side {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  footer {
    display: flex;
  }

  header {
    display: flex;
    align-items: center;
    margin-bottom: 1ch;

    img {
      margin-right: 1ch;
    }
  }

  .author {
    flex: 1;
  }

  .image {
    height: 3.5em;
    margin-left: 1em;
    transform-origin: center right;

    transition: transform 0.25s cubic-bezier(0.07, 0.95, 0, 1);
    &:hover {
      transform: scale(5);
      z-index: 1;
    }
  }

  &:first-child .image {
    transform-origin: top right;
  }

  &:last-child .image {
    transform-origin: bottom right;
  }
}
