@import "~photon-colors/photon-colors.scss";
@import "../utils";

html {
  scrollbar-color: $ink-60 $ink-70;
}

body {
  display: flex;
  flex-direction: column;

  background: $ink-80;
  color: white;
}

nav {
  @include shadow;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: end;

  background: $ink-70;
}

#openTools {
  padding: 0.5em;
  @include hover;
}

#tools {
  overflow: auto;
  display: flex;

  div {
    display: flex;
    align-items: center;

    padding: 0 1em;
    @include hover;
  }

  transition: clip-path 0.25s cubic-bezier(0.07, 0.95, 0, 1);
  clip-path: inset(0 0 0 100%);
  &.open {
    clip-path: inset(0 0 0 0);
  }
}

.empty {
  margin: 1em;
  text-align: center;
}

.entry {
  display: grid;
  grid-gap: 0.5em;
  grid-template-columns: max-content 1fr max-content max-content;
  grid-template-rows: min-content min-content;
  grid-template-areas:
    "icon title read thumbnail"
    "author author date thumbnail";
  align-items: center;

  cursor: pointer;
  background: $ink-70;
  margin: 0.5em;
  padding: 0.5em;

  &:first-of-type .thumbnail {
    transform-origin: top right;
  }
  &:last-of-type .thumbnail {
    transform-origin: bottom right;
  }
}

$areas: "icon", "title", "read", "thumbnail", "author", "date", "thumbnail";
@each $area in $areas {
  .#{$area} {
    grid-area: #{$area};
  }
}

.title {
  text-overflow: ellipsis;
}

.read {
  justify-self: flex-end;
}

.author,
.date {
  align-self: flex-end;
}

.thumbnail {
  max-height: 3em;
  transform-origin: center right;

  transition: transform 0.25s cubic-bezier(0.07, 0.95, 0, 1);
  &:hover {
    transform: scale(4);
  }
}
