@import "../../node_modules/font-awesome/scss/_variables.scss";
$fa-font-path: "../assets";
@import "../../node_modules/font-awesome/scss/font-awesome";

// Set up base variables and such
@import "../../node_modules/bulma/sass/utilities/initial-variables";
$primary: $blue;
@import "../../node_modules/bulma/sass/utilities/_all";
@import "../../node_modules/bulma/sass/base/_all";

// Import base elements
@import "../../node_modules/bulma/sass/elements/box";
@import "../../node_modules/bulma/sass/elements/button";
@import "../../node_modules/bulma/sass/elements/other";

// Import components
@import "../../node_modules/bulma/sass/components/navbar";
@import "../../node_modules/bulma/sass/components/media";

html, body {
  width: 700px;
  min-width: 700px;
  overflow: hidden;
}

#importFile {
  display: none;
}

#feeds {
  min-height: 176px;
  max-height: 500px;
  overflow: auto;
}

.feed-author * {
  line-height: 23px;
  vertical-align: middle;
}

.feed-author img {
  margin-right: 5px;
}

.navbar-burger {
  background: $blue;
  border: none;
  color: white !important;
}

.navbar-burger:focus:not(:active) {
  box-shadow: none;
}

.navbar-menu {
  position: absolute;
  right: 0;
  z-index: 1;
}