@import "~photon-colors/photon-colors.scss";
@import "../globals";

body {
  display: grid;
  grid-template-columns: 1fr max-content 1fr;

  margin: 1em;

  background: $ink-80;
  color: white;
  font: caption;
  -moz-user-select: none;

  & > * {
    grid-column: 2 / 3;
  }
}

* {
  box-sizing: border-box;
}

section {
  display: flex;
  flex-direction: column;
  padding: 0 1em 1em;
  margin-bottom: 1em;
  background: $ink-70;
}

#settings {
  .setting {
    display: flex;

    input {
      flex: 1;
    }
  }

  button {
    margin-top: 1em;
  }
}

#feeds {
  header {
    display: flex;
    align-items: center;
    margin: 1em 0 0.5em;
    min-width: 20ch;
    h2 {
      flex: 1;
      margin: 0;
    }
  }

  .feed {
    display: grid;
    grid-template-columns: max-content 1fr;
    grid-gap: 0.5em;
    align-items: center;
    padding: 1em;
    margin: 0.5em 0;
    background: $ink-60;

    label {
      text-align: right;
    }
  }

  .no_feeds {
    padding: 1em 2em;
    color: rgba(white, 0.5);
    text-align: center;
  }
}
