@import "~photon-colors/photon-colors.scss";
@import "../utils";

body {
  display: grid;
  grid-template-columns: 1fr max-content 1fr;

  margin: 1em;

  background: $ink-80;
  color: white;
  font: caption;
  -moz-user-select: none;

  & > * {
    grid-column: 2 / 3;
  }
}

* {
  box-sizing: border-box;
}

section {
  display: flex;
  flex-direction: column;
  padding: 0 1em 1em;
  margin-bottom: 1em;
  background: $ink-70;
}

#settings {
  .setting {
    display: flex;

    input {
      flex: 1;
    }
  }

  button {
    margin-top: 1em;
  }
}

#feeds {
  h2 {
    display: flex;
    align-items: center;
    margin: 1em 0 0.5em;
    min-width: 20ch;
  }

  #sync {
    margin: 0.5em 0;
  }

  .buttonGroup {
    display: flex;
    margin-bottom: 1em;

    button {
      flex: 1;

      &:first-child {
        margin-right: 0.25em;
      }

      &:last-child {
        margin-left: 0.25em;
      }
    }
  }

  .feed {
    display: grid;
    grid-template-columns: max-content 1fr max-content;
    grid-gap: 0.5em;
    align-items: center;
    padding: 1em;
    margin: 0.5em 0;
    background: $ink-60;

    label {
      text-align: right;
    }

    .delete {
      padding: 4px;
      border-radius: 4px;
      @include hover();

      &:active {
        background: rgba(black, 0.1);
      }
    }
  }

  .no_feeds {
    padding: 1em 2em;
    color: rgba(white, 0.5);
    text-align: center;
  }
}
