@import "../../node_modules/font-awesome/scss/_variables.scss";
$fa-font-path: "../assets";
@import "../../node_modules/font-awesome/scss/font-awesome";

// // Set up base variables and such
@import "../../node_modules/bulma/sass/utilities/initial-variables";
$primary: $blue;
@import "../../node_modules/bulma/bulma";
// @import "../../node_modules/bulma/sass/utilities/_all";
// @import "../../node_modules/bulma/sass/base/_all";

// // Import base elements
// @import "../../node_modules/bulma/sass/elements/box";
// @import "../../node_modules/bulma/sass/elements/button";
// @import "../../node_modules/bulma/sass/elements/other";

// // Import components
// @import "../../node_modules/bulma/sass/components/navbar";
// @import "../../node_modules/bulma/sass/elements/form";

body > .box {
  max-width: 1000px;
  margin: 20px auto;
}