@import "~photon-colors/photon-colors.scss";
@import "../utils";

#dialog {
  z-index: 2147483647; // 2^31-1, literally the biggest z-index possible
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  flex-direction: column;
  padding: 1em;

  background: $ink-70;
  color: white;
  font: caption;
  box-shadow: 0 0 0 100vmax rgba(black, 0.75);
}

#feeds div {
  display: flex;
  align-items: center;
  margin: 0.5em 0;
}

h2 {
  margin: 0.25em 0 0.5em;
}

input[type="text"] {
  background: $ink-60;
  padding: 4px;
}

#buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1ch;
  margin-top: 0.5em;
}
