@mixin hover {
  cursor: pointer;
  transition: background 0.25s;
  &:hover {
    background: rgba(white, 0.1);
  }
}

@mixin shadow {
  box-shadow: 0 4px 16px rgba(12, 12, 13, 0.2);
}

button {
  padding: 0.5em;
  border: none;
  border-radius: 4px;
  background: $ink-60;
  color: white;
  outline: 0 !important;

  transition: background 0.25s cubic-bezier(0.07, 0.95, 0, 1);
  &:hover {
    background: $ink-70;
    box-shadow: 0 0 0 2px $ink-60;
  }
  &:active {
    background: $ink-80;
  }

  &::-moz-focus-inner {
    border: 0;
    outline: 0;
  }
}

input[type="range"] {
  background: none;
  min-width: 300px;

  &::-moz-range-track {
    height: 2px;
    background: rgba($grey-10, 0.3);
  }

  &::-moz-range-thumb {
    width: 14px;
    height: 14px;
    border: 1px solid $ink-60;
    background: $ink-50;
    border-radius: 100%;
  }

  &:focus {
    box-shadow: none;
  }

  &:hover::-moz-range-thumb {
    background: $ink-60;
    border-color: $ink-80;
  }

  &:active::-moz-range-thumb {
    background: $ink-70;
    border-color: $ink-80;
  }
}

input[type="text"],
input[type="url"] {
  background: $ink-70;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 8px;
}
